a {
  text-decoration: none;
}
.navs .active {
  opacity: 0.6;
}
.navs .active .underline {
  width: 100px;
}
.navs {
  height: 60px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  border-top: 1px solid rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.8);
  position: sticky;
  top: 0;
  z-index: 3;
}


.navs ul {
  display: flex;
}

.navs ul li {
  list-style: none;
  line-height: initial;
}

#a{
  padding: 20px 10px;
 line-height: 60px;
 color: #fff;
 text-decoration: none;
 text-transform: uppercase;
 font-weight: bold;
}
@media screen and (min-width: 431px) {
  .navs .lists {
    display: block;
  }
}
@media screen and (max-width: 430px) {
  #a {
    padding:0;
    margin: 0;
    line-height: 30px;
  }
  .navs .lists{
    position: absolute;
    background-color: rgba(0,0,0,.8);
    top:60px;
    right: 0;
    left: 0;
    height: 0;
    transition: height 0.5s ease;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
  }
  .navs .service {
    top:0px;
  }
}
.navs .lists{
  display: flex;
}

.navs .service a {
  color: black;
 text-decoration: none;
 font-size: 13px;
 text-transform: none;
 transition: 0.5s;
}

.navs .service li {
  margin: 10px;
}
.link:hover .service{
  display: block;
}
.navs .service {
  display: none;
}
.navs .service ul{
  display: flex;
  flex-direction: column;
}

.navs .service li .underline {
  height: 3px;
  width: 0;
  transition: width 0.5s ease;
  background-color: lightblue;
}
.navs .service li:hover .underline {
  width: 100px;
  transition: width 0.5s ease;
}

.navs .service li:hover a {
  opacity: 0.4;
  transition: 0.5s;
}

.contact a{
  text-decoration: none;
  color: white;
}
.contact a:hover {
  opacity: 0.5;
}

.contact li {
  padding-top: 10px;
}




/* custom */

.fs-7 {
  font-size: small;
}






/* news section styling */
.news:hover{
  box-shadow: 0px 0px 10px 0.1px black;
  transition: 0.5s ease;
}
.news {
  transition: 0.5s ease;
  padding: 0;
  cursor: pointer;
}


/* styling for the events section on home page */
.event {
  transition: 0.3s ease;
}
.event:hover {
  background-color: #ddd;
  cursor: pointer;
  transition: 0.3s ease;
}

/* style for the payments section */
.pay:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease;
  justify-content: space-between;
}
.pay{
  cursor: pointer;
  transition: 0.3s ease;
}


.event {
  padding: 10px;
  color: black;
  transition: 0.5s ;
}
.event:hover {
  background-color: #ddd;
  transition: 0.5s ;
}


